<% @restaurants.each do |restaurant| %>
  <div class="restaurant">
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.category.capitalize %></p>
  </div>
<% end %>
