<div class="navbar-wagon">

  <%= link_to "Yelp MVP", root_path, class: 'navbar-wagon-item navbar-wagon-link' %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "New restaurant", new_restaurant_path, class: 'navbar-wagon-item navbar-wagon-link' %>
  </div>

</div>
